In [2]:
a = (10,30,59,80)
b=a[0]
c=a[1]
d=a[2]
e=a[3]
print(b,c,d,e)

10 30 59 80

In [4]:
a=('a','b','c')
b=(1,2,3)
a = b
print(a)
print(a,type(a))

(1, 2, 3)
(1, 2, 3) <class 'tuple'>

In [6]:
a,b,d,e=(10,20,30,40,50)
print(b,d,e)

ValueError: too many values to unpack (expected 4)

In [29]:
a=[1,2,3,5]
b=[['a','b','c','b'],['f','l','h','g']]
m=0
c= [dict(zip(a,i)) for i in b]
print(c)

[{1: 'a', 2: 'b', 3: 'c', 5: 'b'}, {1: 'f', 2: 'l', 3: 'h', 5: 'g'}]

In [30]:
emp_data = {'emp_1':{'Age':56,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':27,'Salary':60000,'Name':'John'},
           'emp_3':{'Age':25,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}
for n_list in emp_data:
    print(emp_data[n_list]['Age'])
    if int(emp_data[n_list]['Age']) < 30:
        print(f"Name is {emp_data[n_list]['Name']} and age is {emp_data[n_list]['Age']}"")

SyntaxError: invalid syntax (1928448207.py, line 8)