# Finally

In [2]:
num1 = 10
num2 = 'str'

try:
    print(num1/num2)

except:
    print('Hey check you numbers')

else:
    print('Code sucessful')
    
print('next function')

Hey check you numbers
next function

In [ ]:
* Finally - It will be executed if error is raised or not

In [17]:
num1 = 'str'
num2 = 'str'

try:
    print(num1/num2)

except:
    print('Hey check you numbers')

else:
    print('Code sucessful')
    
finally:
    print('hello')
    
print('next function')

Hey check you numbers
hello
next function

In [14]:
num1 = 10
num2 = 'str'

try:
    print(num1/num_2)
except:
    print('something')

finally:
    print('hello')
    
print('next function')

something
hello
next function

In [22]:
num1 = 10
num2 = 'str'

try:
    print(num1/num2)
except:
    print('something')

finally:
    print('hello')
    
print('next function')

something
hello
next function

In [ ]:
# Showing cooding error to users

In [29]:
num1 = 10
num2 = 0

try:
    print(num1/num2)
except ZeroDivisionError as e:
    print(e)
    print('something')

finally:
    print('hello')
    
print('next function')

division by zero
something
hello
next function

In [31]:
num1 = 10
num2 = 0

print(num1/num2)

ZeroDivisionError: division by zero

In [33]:
num1 = 10
num2 = 2

try:
    print(num1/num_2)
    
except ZeroDivisionError as e:
    print(e)
    print('something')
    
except NameError as e:
    print(e)
    print('coding backing up')
    
    
finally:
    print('hello')
    
print('next function')

name 'num_2' is not defined
coding backing up
hello
next function

In [37]:
num1 = 10
num2 = 0
try:
    try:
        print(num1/num2)
        
    except ZeroDivisionError as e:
        print(e)
        print('something')
        
    try:
        print(num1/num_2)
    
    
    except NameError as e:
        print(e)
        print('coding backing up')
         

    
    
finally:
    print('hello')
    
print('next function')

division by zero
something
name 'num_2' is not defined
coding backing up
hello
next function

In [45]:
a=10
b=2
try:
    print(a/b)
except ZeroDivisionError as e:
    print(e)
except NameError as e:
    print(e)
else:
    print('sucessfull')
finally:
    print('Success')

5.0
sucessfull
Success

In [56]:
try:
    num1 = 10
    num2 = 'str'
    print(num1/num2)

    
except Exception as e:
    print(e)
    print('something')

print('continued')

enter a num2.3
invalid literal for int() with base 10: '2.3'
something
continued

In [53]:
num1 = 10
num2 = 2


print(num1/num_2)


print('continued')

NameError: name 'num_2' is not defined

In [58]:
def err(a,b):
    try:
        num = a/b
        return num

   
    except Exception as e:
        return e

    print('continued')

In [60]:
err(112 ,'str')

TypeError("unsupported operand type(s) for /: 'int' and 'str'")

In [69]:
# open one file
f = open('error_log.txt', 'a')
try:
    num1 = 10
    num2 = 0
    print(num1/num_2)

    
except Exception as e:
    f.write('\n'+str(e))
    print(e)
    print('something')

    
finally:
    f.close()
print('continued')

name 'num_2' is not defined
something
continued

In [72]:
# Nested Try
try:
    a = int(input('please enter a number : '))
    b = int(input('please enter the second number : '))
    try:
        print(a/b)
    except ZeroDivisionError as e:
        print(e)
    except NameError as e:
        print(e)
except Exception as e:
    print(e)

please enter a number : 10
please enter the second number : 0
division by zero

In [76]:
# Nested Try
try:
    a = int(input('please enter a number : '))
    b = int(input('please enter the second number : '))
    try:
        print(a/c)
    except Exception as e:
        print('line 7 exeption',e)

except Exception as e:
    print('line 11 exception',e)

please enter a number : 'name'
line 11 exception invalid literal for int() with base 10: "'name'"

In [ ]:
# Userdefined errors - raise

In [82]:
# CDM 50k 

amt = int(input('please enter the amount : '))

try:
    if amt > 50000:
        print('amount exceeded')
        print('continue code')
    else:
        print('amount deposited')
        
except Exception as e:
    print(e)

please enter the amount : 70000
amount exceeded
continue code

In [78]:
class amount_error(Exception):
    def __init__(self,msg):
        self.msg = msg

In [83]:
# CDM 50k 


        
amt = int(input('please enter the amount : '))

try:
    if amt > 50000:
        raise amount_error ('OVER LIMIT')
        print('continue code')
    else:
        print('amount deposited')
        
except Exception as e:
    print(e)

please enter the amount : 70000
OVER LIMIT

In [85]:
# CDM 50k 

amt = int(input('please enter the amount : '))

try:
    if amt > 50000:
        raise ZeroDivisionError('stop')
        print('continue code')
    else:
        print('amount deposited')
        
except Exception as e:
    print(e)

please enter the amount : 70000
stop

In [89]:
# CDM 50k 

amt = 100000


if amt > 50000:
    raise amount_error('OVER LIMIT')
    print('continue code')
else:
    print('amount deposited')

amount_error: OVER LIMIT

In [ ]:
# Build me an gpay app

which takes as amt from the user
* if amt entered is less than 50k ('CODE FOR SENDING THE AMOUNT EXECUTED')
* If the amt is between 50k- 60k it has to ask me the PAN number
* If the PAN num's len is 10 ('Give me 2 minutes We will verifify and deposit the amount')
* If the len PAN num is not 10 (please enter correct pan number)

In [ ]:
class my_


def submit_pan():
    if len of pan 10:
        'Give me 2 minutes We will verifify and deposit the amount'
    else:
        raise my_exc ('please enter correct pan number ')


def amount_deposite():
    if amt < 50k:
        print( amount depo)
    elif amt 50 k 60k:
        pan = input ('please enter the pAN number')
        if len of pan == 10:
            print Give me 2 minutes We will verifify and deposit the amoun
        else:
            raise my_exc ('wrong pan number')
    else:
        raise my_ex

In [ ]:
try amount_deposite(amt):
    
exept my_ex as e:
    print(e)