# Dictionary

In [1]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

In [ ]:
# Task 1- Try to extract  emp_4 and check the results
# Task 2 - Try to extract emp_6 and check the results

# Update the dictionary

- If Key is present ----> The existing data will be modified

- If Key is not present ---> It will add the data

In [45]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data['emp_4'] = {'Age':40,'Salary':9600000,'Name':'Amanpal'}

In [47]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data['emp_5']

KeyError: 'emp_5'

In [6]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data['emp_5'] = {'Age':40,'Salary':9600000,'Name':'Devanshish'}

emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'},
 'emp_5': {'Age': 40, 'Salary': 9600000, 'Name': 'Devanshish'}}

# Methods of dic

In [7]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Methods to add and access the elements from the dic

- Get
- Setdefault
- update

In [48]:
# If key is present it will throw the values 
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

print(emp_data.get('emp_4'))

{'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}

In [49]:
# If key is not present it will by default give None as an output 
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

print(emp_data.get('emp_5'))

None

In [53]:
# If key is not present it will by default give None as an output but we can customize this
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

print(emp_data.get('emp_5','The employee details are not present'))

#print(emp_data.get('emp_5') , {'Age':40,'Salary':7600000,'Name':'Alan'})

The employee details are not present

# Setdefault

In [54]:
# If key is present it will extract the values 
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}


print(emp_data.setdefault('emp_2'))

{'Age': 39, 'Salary': None, 'Name': 'Alan'}

In [55]:
# If key is not present instead of error it'll give me None by default
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}


print(emp_data.setdefault('emp_5'))

None

In [56]:
# If key is not present I can customize the output
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}


print(emp_data.setdefault('emp_5', 'Key not present'))

Key not present

In [57]:
# If key is not present I can update the values but in get it is not possible
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}


print(emp_data.setdefault('emp_5', {'Age':40,'Salary':7600000,'Name':'Kalyan'}))


print(emp_data)

{'Age': 40, 'Salary': 7600000, 'Name': 'Kalyan'}
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 40, 'Salary': 7600000, 'Name': 'Kalyan'}}

# Update

In [58]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data_1 = {'emp_5':{'Age':40,'Salary':7600000,'Name':'naiya'},
             'emp_6':{'Age':40,'Salary':7600000,'Name':'ratuja'}}


print(emp_data.update(emp_data_1))

None

In [59]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'},
 'emp_5': {'Age': 40, 'Salary': 7600000, 'Name': 'naiya'},
 'emp_6': {'Age': 40, 'Salary': 7600000, 'Name': 'ratuja'}}

In [62]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data_1 = {'emp_5':{'Age':40,'Salary':7600000},
             'emp_6':None}


print(emp_data.update(emp_data_1))

None

In [64]:
emp_data['emp_5']

{'Age': 40, 'Salary': 7600000}

# Methods to remove the elements from the dic
- Pop
- popitem

In [66]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [83]:
# If key is present
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data.pop('emp_3')

{'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}

In [68]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}}

In [89]:
# If key is not present
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data.pop('emp_5','error')

'error'

# Pop item

In [84]:
# By default it will pop and give me the complete pair of my data
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data.popitem()

('emp_4', {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'})

In [85]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}}

In [86]:
emp_data.popitem()

('emp_3', {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'})

In [87]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}}

In [80]:
emp_data.popitem()

('emp_2', {'Age': 39, 'Salary': None, 'Name': 'Alan'})

In [81]:
emp_data.popitem()

('emp_1', {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'})

In [ ]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data.popitem()

In [90]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [96]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data_1 = {'emp_2':{'Age':39,'Salary':67767,'Name':'Alan'}}
emp_data.update(emp_data_1)

In [99]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data['emp_5']  = {'Age':40,'Salary':7600000,'Name':'python'}
#emp_data.update({'emp_2':{'Age':39,'Salary':67767,'Name':'Alan'}})

In [100]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'},
 'emp_5': {'Age': 40, 'Salary': 7600000, 'Name': 'python'}}

In [103]:
print(emp_data.values())

dict_values([{'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, {'Age': 39, 'Salary': None, 'Name': 'Alan'}, {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, {'Age': 40, 'Salary': 7600000, 'Name': 'python'}])

In [104]:
print(emp_data['emp_1'].values())

dict_values([29, 5600000, 'Salahuddin'])

In [105]:
print(emp_data.keys())

dict_keys(['emp_1', 'emp_2', 'emp_3', 'emp_4', 'emp_5'])

In [106]:
print(emp_data.items())

dict_items([('emp_1', {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}), ('emp_2', {'Age': 39, 'Salary': None, 'Name': 'Alan'}), ('emp_3', {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}), ('emp_4', {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}), ('emp_5', {'Age': 40, 'Salary': 7600000, 'Name': 'python'})])

In [107]:
print(emp_data['emp_2'].items())

dict_items([('Age', 39), ('Salary', None), ('Name', 'Alan')])

In [108]:
a = 10,20,30

print(a, type(a))

(10, 20, 30) <class 'tuple'>

In [109]:
a,b,c = 10,20,30

print(a, type(a))
print(b)
print(c)

10 <class 'int'>
20
30

In [111]:
a = ((1,2),(3,4))

for i,j in a:
#    print(i)
    print(j)

2
4

In [5]:
for a,b in ((10,40),(60,70)):
    print(a)

10
60

In [ ]:
a,b = 10,40

In [6]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# FromKeys

In [21]:
dict_2 = dict.fromkeys(['player_1', 'player_2'])

dict_2

{'player_1': None, 'player_2': None}

In [24]:
dict_2 = dict.fromkeys(['player_1', 'player_2'], 0)


dict_2

{'player_1': 0, 'player_2': 0}

In [25]:
dict_2['player_2'] = 10

In [26]:
dict_2

{'player_1': 0, 'player_2': 10}

In [28]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data.setdefault('emp_6',{'Age':40,'Salary':7600000,'Name':'python'})

{'Age': 40, 'Salary': 7600000, 'Name': 'python'}

In [34]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data_2 = emp_data.copy()

In [35]:
emp_data_2

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}}

In [38]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

del emp_data['emp_3']
# emp_data.pop('emp_3')

In [39]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}}

In [42]:
# 
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

In [43]:
# Set data type

In [48]:
name1 = 'Salahuddin'

for i in emp_data:
    if emp_data[i]['Name'] == name1:
        print(i,emp_data[i])

emp_1 {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}

In [47]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}}

In [49]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}


name  =input("Please enter your Name :")
age= int(input("Please enter your age:"))
salary = float(input("Please enter your salary:"))


emp_data['emp_5'] = {"age":age,"Salary":salary,"Name":name}

print(emp_data)

Please enter your Name :python
Please enter your age:100
Please enter your salary:5454
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'age': 100, 'Salary': 5454.0, 'Name': 'python'}}

In [51]:
# Srikant
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}


age= int(input('Enter your age'))
salary= float(input('Enter your salary'))
nam= input('Enter your Name')

l = f'emp_{len(emp_data)+1}'
print(l)
emp_data.setdefault(l,{'Age':age,'Salary':salary,'Name':nam})
print(emp_data)

Enter your age40
Enter your salary55656
Enter your Namenam
emp_5
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 40, 'Salary': 55656.0, 'Name': 'nam'}}

In [54]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

name=input("Enter the name: ")
age=eval(input("Enter the age: "))
salary= eval(input("Enter the salary: "))
#emp_data[emp_5]= {'Age':age,'Salary':salary,'Name':name}
emp_data.setdefault('emp_5',{'Age':age,'Salary':salary,'Name':name})
print(emp_data)

Enter the name: python
Enter the age: 434
Enter the salary: 6353
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 434, 'Salary': 6353, 'Name': 'python'}}

# Set data type

- Collection of values and it is not a seq data type
- Indexing and slicing is not possible 
- Collection of unique values 
- Set cannot contain mutable data type eg: - List, set, dic

In [55]:
a = {1,2,3,4,5}
print(a , type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [56]:
a = {1,2,3,4,5,1,1,1,1}
print(a , type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [58]:
a[0:2]

TypeError: 'set' object is not subscriptable

In [64]:
a = {1,2.2,None,[3,4,5,65]}
print(a , type(a))

TypeError: unhashable type: 'list'

In [66]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [70]:
a = {1,2,3,4,5}
print(id(a))
print(a.add('add'))
print(id(a))

2854708510272
None
2854708510272

In [72]:
print(a)

{1, 2, 3, 4, 5, 'add'}

In [73]:
print(dir(a))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [74]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [75]:
a = [1,2,3,45]

print(id(a))

print(a.append(7))

print(id(a))

2854711366464
None
2854711366464

# Conditional Statements

In [ ]:
# If, elif , else

In [ ]:
# If 


state 1 
stat 2 
stat 3 
stat 4
if condition:
    stat 5 
    stat 6
stat 7 
stat 8

# True --> 1,2,3,4,5,6,7,8
# False ---> 1,2,3,4,7,8

In [ ]:
# else 


state 1 
stat 2 
stat 3 
stat 4
if condition:
    stat 5 
    stat 6
else:
    stat 9
    stat 10  
stat 7 
stat 8

# True --> 1,2,3,4,5,6,7,8
# False ---> 1,2,3,4,9,10,7,8

In [ ]:
# else 


state 1 
stat 2 
stat 3 
stat 4
if condition1:
    stat 5 
    stat 6
else:
    stat 15
    stat 16
if condition2:
    stat 11
    stat 12
if condition3:
    stat 13
    stat 14
else:
    stat 9
    stat 10  
stat 7 
stat 8

# if cond 1 is true and rest all is false --> 1,2,3,4,5,6,9,10,7,8
# if all the cond are false -->1,2,3,4,15,16,9,10,7,8

In [77]:
a = 10
b = 20

if a == b: # False
    print('Hello world')
else:
    print('catched')
if a < b: # True
    print('Learnbay')
    
if a > b: # False
    print('hi there')
    
else:
    print('wrong')
    
print('data science')

# 7,8,14,16

catched
Learnbay
wrong
data science

In [78]:
a = 10
b = 10

if a == b: # True
    print('Hello world')
else:
    print('catched')
if a < b: # False
    print('Learnbay')
    
if a > b: # False
    print('hi there')
    
else:
    print('wrong')
    
print('data science')

# 5,15,17

Hello world
wrong
data science

In [81]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

a=input("Enter the name: ")
b=eval(input("Enter the age: "))
c= eval(input("Enter the salary: "))

emp_data.setdefault('emp_5',{'Age':b,'Salary':c,'Name':a})
print(emp_data)

Enter the name: python
Enter the age: 66
Enter the salary: 8484
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 66, 'Salary': 8484, 'Name': 'python'}}

In [80]:
a = 10
b = 49
c = 'name'

print('the number is : ',a)

the number is :  10

In [83]:
# Srikant
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}


age= int(input('Enter your age'))
salary= float(input('Enter your salary'))
nam= input('Enter your Name')

l = f'emp_{len(emp_data)+1}'
print(l)
emp_data.setdefault(l,{'Age':age,'Salary':salary,'Name':nam})
print(emp_data)

Enter your age44
Enter your salary7373
Enter your Namepython
emp_5
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 44, 'Salary': 7373.0, 'Name': 'python'}}

In [113]:
l = f'emp_{len(emp_data)+1}'

In [112]:

emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}


len(emp_data)+1

5

In [110]:
len(emp_data)+1

5

In [82]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}
len(emp_data)

4

In [85]:
#l = f'emp_{len(emp_data)+1}'
#print(l)
emp_data.setdefault(l,{'Age':age,'Salary':salary,'Name':nam})
print(emp_data)

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 44, 'Salary': 7373.0, 'Name': 'python'}}

In [86]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

In [88]:

while(True):
    name=input("Enter the name: ")
    age=eval(input("Enter the age: "))
    salary= eval(input("Enter the salary: "))
    emp_data.setdefault(f'emp_{len(emp_data)+1}',{'Age':age,'Salary':salary,'Name':name})
#    i+=1
    st=input("Do you want to continue? ")
    if st=='yes' or st=='Yes' or st=='YES':
        continue
    else:
        break
print(emp_data)

Enter the name: python
Enter the age: 73
Enter the salary: 9839832
Do you want to continue? yes
Enter the name: masoda
Enter the age: 8484
Enter the salary: 3434
Do you want to continue? no
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 88, 'Salary': 3273, 'Name': 'python'}, 'emp_6': {'Age': 73, 'Salary': 9839832, 'Name': 'python'}, 'emp_7': {'Age': 8484, 'Salary': 3434, 'Name': 'masoda'}}

In [89]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'},
 'emp_5': {'Age': 88, 'Salary': 3273, 'Name': 'python'},
 'emp_6': {'Age': 73, 'Salary': 9839832, 'Name': 'python'},
 'emp_7': {'Age': 8484, 'Salary': 3434, 'Name': 'masoda'}}

In [99]:
# Srikant
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

In [102]:

age= int(input('Enter your age'))
salary= float(input('Enter your salary'))
nam= input('Enter your Name')

l = f'emp_{len(emp_data)+1}'
print(l)
emp_data.setdefault(l,{'Age':age,'Salary':salary,'Name':nam})
print(emp_data)

Enter your age4545
Enter your salary34343
Enter your Namepppppp
emp_6
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 44, 'Salary': 55.0, 'Name': 'python'}, 'emp_6': {'Age': 4545, 'Salary': 34343.0, 'Name': 'pppppp'}}

In [104]:

age= int(input('Enter your age'))
salary= float(input('Enter your salary'))
nam= input('Enter your Name')

l = f'emp_{len(emp_data)+1}'
print(l)
emp_data.setdefault(l,{'Age':age,'Salary':salary,'Name':nam})
print(emp_data)

Enter your age84848
Enter your salary292832
Enter your Namemsdfs
emp_7
{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'}, 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'}, 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}, 'emp_5': {'Age': 44, 'Salary': 55.0, 'Name': 'python'}, 'emp_6': {'Age': 4545, 'Salary': 34343.0, 'Name': 'pppppp'}, 'emp_7': {'Age': 84848, 'Salary': 292832.0, 'Name': 'msdfs'}}

In [105]:
emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 39, 'Salary': 9000000, 'Name': 'apurva'},
 'emp_4': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'},
 'emp_5': {'Age': 44, 'Salary': 55.0, 'Name': 'python'},
 'emp_6': {'Age': 4545, 'Salary': 34343.0, 'Name': 'pppppp'},
 'emp_7': {'Age': 84848, 'Salary': 292832.0, 'Name': 'msdfs'}}