In [4]:
# Using for loop for 2 table

a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
    print(f'2  *  {i}  =  {2*i}')

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [7]:
# Using a range function

for i in range(1,11):
    print(f'2  *  {i}  =  {2*i}')

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [8]:
a = 'python'
b = 'learnbay'

print('Hi my name is {} and second name is {}'.format(a,b))

Hi my name is python and second name is learnbay

In [9]:
a = 'python'
b = 'learnbay'

print(f'Hi my name is {a} and second name is {b}')

Hi my name is python and second name is learnbay

In [ ]:
#

In [ ]:

for i in [1,2,3,4,5,6,7,8,9,10]:
    print(f'2  *  {i}  =  {2*i}')

In [24]:
name = 1
print('2 * ' + str(name) + ' = ' +str(name*2))

name = 2
print('2 * ' + str(name) + ' = ' +str(name*2))

name = 3
print('2 * ' + str(name) + ' = ' +str(name*2))

name = 4
print('2 * ' + str(name) + ' = ' +str(name*2))

name =5
print('2 * ' + str(name) + ' = ' +str(name*2))

name = 6
print('2 * ' + str(name) + ' = ' +str(name*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12

In [30]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print( '2 * ' + str(i) + ' = '+ str(i *2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [33]:
# user defined table

num = int(input('Please enter the table of your choice : '))

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

# using list comprehension

Please enter the table of your choice : 999
999 * 1 = 999
999 * 2 = 1998
999 * 3 = 2997
999 * 4 = 3996
999 * 5 = 4995
999 * 6 = 5994
999 * 7 = 6993
999 * 8 = 7992
999 * 9 = 8991
999 * 10 = 9990

In [46]:
mail = ['python.learnbay@gmail.com', 'alan.john@yahoo.com', 'naiya.shah@gmail.com','sagnik.123@outlook.com',
        'abhishek.hero@hotmail.com']

In [50]:
# 1. Extract those mail id which are from gmail

for i in mail:
    if i.endswith('@gmail.com') == True:
        print(i)

python.learnbay@gmail.com
naiya.shah@gmail.com

In [53]:
# 2. Extract only the user names

for i in mail:
    
    print(i.split('@')[0])

python.learnbay
alan.john
naiya.shah
sagnik.123
abhishek.hero

In [55]:
a = 'python.learnbay@gmail.com'
print(a.split('@'))

['python.learnbay', 'gmail.com']

In [69]:
# 2. Extract only the user names

for i in mail:
    if i.endswith('@gmail.com') == True:
        pass
#        print(i.split('@')[0])
        
c = [i.split('@')[0] for i in mail if i.endswith('@gmail.com') == True]
print(c)

['python.learnbay', 'naiya.shah']

In [60]:
# Extract only the even numbers
a = [1,2,32,343,5,5,6,4,43,2,2,3,465,7,7,7]
b = []

for i in a:
    if i%2 == 0:
        b.append(i)
print(b)

[2, 32, 6, 4, 2, 2]

# List comprehension

- syntax ---> [expression for var in iterables if condition]

In [65]:
# Using for loop
a = [1,2,32,343,5,5,6,4,43,2,2,3,465,7,7,7]
b = []

for i in a:
    if i%2 == 0:
        b.append(i)
print(b)

c = [i for i in a if i%2 == 0]
print(c)

[2, 32, 6, 4, 2, 2]
[2, 32, 6, 4, 2, 2]

In [64]:
a = [1,2,3,4,5,6]

b = []

for i in a:
    b.append(i*2)
    
print(b)

c = [j*2 for j in a]
print(c)

[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12]

In [95]:
# String formating
a = 'python'
b = 'learnbay'

print(f'Hi my first name is {a} My second name is {b}')

print(f' 2  *  {i} = {i*2}')

Hi my first name is python My second name is learnbay

In [85]:
# For loop

a = [1,2,3,4,5,6,7,8,9,10]

c = [print(f'2  *  {i} = {i*2}') for i in a]

2  *  1 = 2
2  *  2 = 4
2  *  3 = 6
2  *  4 = 8
2  *  5 = 10
2  *  6 = 12
2  *  7 = 14
2  *  8 = 16
2  *  9 = 18
2  *  10 = 20

In [80]:
a = [1,2,3,4,45,65,76]
b = []

for i in a:
    if i%2 != 0:
        b.append(i)
print(b)

c=[i for i in a if i%2 != 0]
print(c)

[1, 3, 45, 65]
[1, 3, 45, 65]

In [88]:
# For loop

a = [1,2,3,4,5,6,7,8,9,10]

c = [i for i in a]
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuple

- Anything writen inside a round bracket and the elements are sep by comma
- It is hetrogenous

In [97]:
a = (1,2.4,None,True,10+5j)
print(a , type(a))

(1, 2.4, None, True, (10+5j)) <class 'tuple'>

# Creating a tuple

In [98]:
# 1. You already know the elements
tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [105]:
# Taking a user input

tup = eval(input('Please enter the numbers '))
print(tup, type(tup))

Please enter the numbers 1,2,2,3,4
(1, 2, 2, 3, 4) <class 'tuple'>

# Type casting

In [107]:
a = 'str'
b = [1,2,4,45]

print(tuple(a))
print(tuple(b))

('s', 't', 'r')
(1, 2, 4, 45)

In [109]:
# 4th way

a = (1,23,4,5,6)
print(a,type(a))

b = 6,5,3,2,2
print(b , type(b))

(1, 23, 4, 5, 6) <class 'tuple'>
(6, 5, 3, 2, 2) <class 'tuple'>

In [130]:
a = 'python' , None , 1 ,1.3, (92,3,4,) , [2,3,4,5]
print(a , type(a))

('python', None, 1, 1.3, (92, 3, 4), [2, 3, 4, 5]) <class 'tuple'>

In [115]:
a = (10,)
print(a , type(a))

(10,) <class 'tuple'>

# Properties of a tuple

- seq data type
- +ve and - ve index is supported
- Can hold any data type
- Immutable
- Allows duplication
- basic op - concat, identity, Membership, repetition

In [116]:
# +ve Indexing 
a = (1,2,23,4,5,65)
print(a[2])

23

In [117]:
# -ve Indexing 
a = (1,2,23,4,5,65)
print(a[-4])

23

In [123]:
# slicing 
a = (1,2,23,4,5,65)
print(a[2:5])
print(a[-4:-1])
print(a[-2:-5:-1])

(23, 4, 5)
(23, 4, 5)
(5, 4, 23)

In [124]:
# Concat
# op----> +
# both should be tuple

a = (1,2,3,4)
b = (5,6,7,8)
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8)

In [125]:
# repetition
# op----> *
# one should be tuple and other should be int

a = (1,2,3,4)
b = 8
print(a*b)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [127]:
# identity
# op----> is and is not
# Checks for the ID 

a = (1,2,3,4)
b = (1,2,3,4)
print(id(a))
print(id(b))
print(a is b)

1850311959152
1850311958752
False

In [128]:
# Membership operators
# op----> in and not in
# Checks for the value in the seq

a = (1,2,3,4)

print(2 in a)

True

In [143]:
# Tuple is immutable

a = ([5,6,7,8],2,3,4,5)
b = [3,4,5,6]

# b[-1] = 'hey there'
a[0] = 78
print(a)

TypeError: 'tuple' object does not support item assignment

# Methods of tuple

In [131]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

# Count

In [153]:
# 
a = (1,2,3,4,5,6,1,1,1,1)
print(a.count(2))

1

# Index

In [155]:
# 
a = (1,2,3,4,5,6,1,1,1,1)
print(a.index(4))

3

In [156]:
len(a)

10

# Tuple packing and unpacking ---> continue

In [157]:
lis=[1,2,3,4,5,6,7,8,9,10,11,12,113,114,15]
prime_lis=[]
for i in lis:
    if i==1 or i==2:
        prime_lis.append(i)
    if i!=1 and i!=2:
        if i%2==0:
            print(f"The number {i} is not a prime number. ")
        else:
            prime_lis.append(i)
print("All the prime numbers" )
print(prime_lis)

The number 4 is not a prime number.
The number 6 is not a prime number.
The number 8 is not a prime number.
The number 10 is not a prime number.
The number 12 is not a prime number.
The number 114 is not a prime number.
All the prime numbers
[1, 2, 3, 5, 7, 9, 11, 113, 15]

In [158]:
print(3 %2)

1

In [161]:
lis=[1,2,3,4,5,6,7,8,9,10,11,12,113,114,15]
b = []
c = 0
for i in lis:
    if i%2 == 0:
        c+=1
        if c == 2 :
            b.append(i)

This is a prime nume