# Tuple Packing and unpacking

- No of variables on the left hand side should be equal to no of values on the right hand side

In [2]:
# Tuple packing - Assigning multiple vales to a single variable

a = 10,20,30,40,50
print(a,type(a))

(10, 20, 30, 40, 50) <class 'tuple'>

In [6]:
# Tuple unpackig - assigning each value to one single variable 

a,b,c,d,e = (10.4,20,30,40,50)


print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))

list_1 = [a,b,c,d,e]
print(list_1)

10.4 <class 'float'>
20 <class 'int'>
30 <class 'int'>
40 <class 'int'>
50 <class 'int'>
[10.4, 20, 30, 40, 50]

In [3]:
a=('a','b','c')
b=(1,2,3)
a = b
print(a)
print(a,type(a))

(1, 2, 3)
(1, 2, 3) <class 'tuple'>

### Usecase of tuple unpacking

# Dic

In [10]:
emp_data = ['Salahuddin', 29 , 5600000]
# Extract name

print(emp_data[0])

# Extract age

print(emp_data[1])

# Extract Salary

print(emp_data[2])

Salahuddin
29
5600000

In [11]:
emp_data = [29,'Salahuddin' , 5600000]

# Extract name
print(emp_data[0])

# Extract age
print(emp_data[1])

# Extract Salary
print(emp_data[2])

29
Salahuddin
5600000

In [13]:
emp_data = {'Name':'Salahuddin','Age':29,'Salary':5600000}

# Extract name
print(emp_data[0])

# Extract age
print(emp_data[1])

# Extract Salary
print(emp_data[2])

KeyError: 0

In [14]:
emp_data = {'Name':'Salahuddin','Age':29,'Salary':5600000}

# Extract name
print(emp_data['Name'])

# Extract age
print(emp_data['Age'])

# Extract Salary
print(emp_data['Salary'])

Salahuddin
29
5600000

In [15]:
emp_data = {'Age':29,'Salary':5600000,'Name':'Salahuddin'}

# Extract name
print(emp_data['Name'])

# Extract age
print(emp_data['Age'])

# Extract Salary
print(emp_data['Salary'])

Salahuddin
29
5600000

In [25]:
list(emp_data.keys())[1]

'Salary'

# Properties of dictionary 
- It is a collection of value and pair
- a key, value is called an item
- key and value are seperated by (:)
- Key cannot be duplicated where as value can be duplicated 
- key has to be immutable data type
- value can be anything (mutable / immutable)
- It is not a seq data type, Hence no Indexing, Slicing, Contatination, Repetition
- Membership op are only applicable on keys 
- Idetity op is possible
- It is mutable- The value will be updated

# How to create a dic

In [42]:
# If we already know the values

emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':6600000,'Name':'Alan'},
           'emp_3':{'Age':40,'Salary':7600000,'Name':'Abhijeet'}}

print(emp_data , type(emp_data))

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 39, 'Salary': 6600000, 'Name': 'Alan'}, 'emp_3': {'Age': 40, 'Salary': 7600000, 'Name': 'Abhijeet'}} <class 'dict'>

In [43]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':6600000,'Name':'Alan'},
           'emp_3':{'Age':40,'Salary':7600000,'Name':'Abhijeet'}}

emp_data.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3'])

In [44]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':6600000,'Name':'Alan'},
           'emp_3':{'Age':40,'Salary':7600000,'Name':'Abhijeet'}}

emp_data.values()

dict_values([{'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'}, {'Age': 39, 'Salary': 6600000, 'Name': 'Alan'}, {'Age': 40, 'Salary': 7600000, 'Name': 'Abhijeet'}])

In [46]:
# Taking user input

data = eval(input("enter the dic  : "))
print(data , type(data))

enter the dic  : {'age':70}
{'age': 70} <class 'dict'>

In [53]:
a = [1,2,2,34,4]

print(dict(a))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [51]:
# Type casting

a = [['a',1],['b',2],['c',3],['d',3]]
print(dict(a))

{'a': 1, 'b': 2, 'c': 3, 'd': 3}

In [57]:

a = [('a',1),('b',2),('c',3),('d',3)]
print(dict(a))

{'a': 1, 'b': 2, 'c': 3, 'd': 3}

In [71]:

adhar = (4,5,6,7)
money = [1,2,43]

a = [(adhar,money),('b',2),('c',3),('d',3)]
print(dict(a))

{(4, 5, 6, 7): [1, 2, 43], 'b': 2, 'c': 3, 'd': 3}

# 4th Method 
- Zip function

- syntax ---> zip(iter1 , iter2)

In [76]:
a = [1,2,3,4]
b = ['a','b','c','d']

dict(list(zip(b , a)))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [77]:
a = [1,2,3,4]
b = ['a','b','c','d']

dict(tuple(zip(b , a)))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [80]:
a = [1,2,3,4]
b = ['a','b','c','d']

dict(zip(b , a))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [81]:
a = [1,2,3,4]
b = ['a','b']

dict(zip(b , a))

{'a': 1, 'b': 2}

In [88]:
# Enumerate

a = ['a','b','c','d']
dict(list(enumerate(a)))

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [90]:

a = ('a','b','c','d')
tuple(enumerate(a))

((0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'))

In [96]:
a = [1,2,3,4]
b = ['a','b','c','d']

list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [98]:
a = [1,2,3,4]
b = ['a','b','c','d']

dict(zip(a,b))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
#

In [107]:
a = [1,2,3,4]
b = 'stri'

dict(zip(a,b))

{1: 's', 2: 't', 3: 'r', 4: 'i'}

# Key cannot be duplicate

In [112]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_3':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data

{'emp_1': {'Age': 29, 'Salary': 5600000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 39, 'Salary': None, 'Name': 'Alan'},
 'emp_3': {'Age': 40, 'Salary': 7600000, 'Name': 'apurva'}}

# Value can be duplicated

In [ ]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data

# Key

- int
- string
- float
- None
- Bool
- complex
- tuple

Value can be anything

In [115]:
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           {1,23}:{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data

TypeError: unhashable type: 'set'

In [116]:
# Indexing

emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data[0]

KeyError: 0

In [117]:
# Slicing
emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data[0:1]

TypeError: unhashable type: 'slice'

In [118]:
# Concat
emp_data + emp_data

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [119]:
# Repetition
emp_data *2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [122]:
# membership

emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

print('Age' in emp_data)

False

In [123]:
# membership

emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

print('Age' in emp_data['emp_1'])

True

In [125]:
# Extract my name form the dic


emp_data = {'emp_1':{'Age':29,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':39,'Salary':None,'Name':'Alan'},
           'emp_3':{'Age':39,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data['emp_1']['Name']

'Salahuddin'

In [160]:
emp_data = {'emp_1':{'Age':56,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':27,'Salary':60000,'Name':'John'},
           'emp_3':{'Age':25,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':40,'Salary':7600000,'Name':'apurva'}}

emp_data['emp_2']['Name'][::-1]

'nhoJ'

In [161]:
# Extract the name of the employees whose age is less than 30
# Keys
# Values 
# Items

for i in emp_data.keys():
    if emp_data[i]['Age']< 30:
        print(emp_data[i]['Name'])

John
apurva

# Dic Methods

In [165]:
emp_data = {'emp_1':{'Age':56,'Salary':5600000,'Name':'Salahuddin'},
           'emp_2':{'Age':'27','Salary':60000,'Name':'John'},
           'emp_3':{'Age':25,'Salary':9000000,'Name':'apurva'},
           'emp_4':{'Age':'40','Salary':7600000,'Name':'apurva'}}
emp_data['emp_1']

{'Age': 56, 'Salary': 5600000, 'Name': 'Salahuddin'}

In [170]:
for n_list in emp_data:
    print(emp_data[n_list]['Age'])
    if int(emp_data[n_list]['Age']) < 30:
        print(f"Name is {emp_data[n_list]['Name']} and age is {emp_data[n_list]['Age']}")

56
27
Name is John and age is 27
25
Name is apurva and age is 25
40